
// vies Home Css
.title {
padding-inline-start:40px;
padding-bottom:20px;
padding-top:30px;
color:red;
}

ul {

display:flex;

}

li {

padding-right: 40px;
list-style:none;

}

.btnLearnMore{
background-color: white;
color:#007bff;
}

.btnFavorites{
background-color: white;
color: #FED65F;
border-color: #FED65F;
}

.btnFavorites:hover{
background-color: #FED65F;
color:black;
border-color: #FED65F;

}


.btnFavorites:focus, .btnFavorites:active {     
   background-color: white!important;
   color: #FED65F!important;
   border-color: #FED65F!important;
   box-shadow: 0 0 0 2px #FED65F!important;
  
}


//Component Navbar CSS
.logo {
   padding-left:40px;
}

.deleteBtn{

    color:black;

}

.navbar{
   position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left: 0;
    z-index: 20;
}

