
.title {
padding-inline-start:40px;
padding-bottom:20px;
 color:red;

}

ul {

display:flex;

}

li {

padding-right: 40px;
list-style:none;

}

.btnLearnMore{
background-color: white;
color:#007bff;
}

.btnFavorites{
background-color: white;
color: #FED65F;
border-color: #FED65F;

}
.btnFavorites:hover{
background-color: #FED65F;
color:white;
border-color: #FED65F;

}

.btnFavorites:focus {     
    color:black;  
    border-color: #FED65F;
    background-color: #FED65F;
     box-shadow: inset 0 0 0 1px #FED65F;

}
.btnFavorites:active {
 background-color: white;
color: #FED65F;
border-color: #FED65F;
}


